$lhsBg: --app-lhs-bg;
$lhsListHoverBg: --app-lhs-list-hover-bg;
$lhsListSelectedBg: --app-lhs-list-selected-bg;
$lhsListColor: --app-lhs-list-color;
$lhsListSelectedColor: --app-lhs-list-selected-color;
$appCenterBorder: --app-center-block-border;
$topBarIconColor: --app-top-bar-icon-color;
$tabBg: --app-tab-bg;
$tabHoverBg: --app-tab-hover-bg;
$tabColor: --app-tab-color;
$lhsAccountSwitchBorder: --app-lhs-account-switch-border;
$lhsAccountSwitchAvatarColor: --app-lhs-account-switch-avatar-color;
$lhsAccountSwitchAvatarBg: --app-lhs-account-switch-avatar-bg;

// Class Names
$lhsDark: ".zmLHSDark";
$lhsLight: ".zmLHSLight";
$lhsWhite: ".zmLHSWhite";
$lhsZohoOne: ".zmLHSZohoOne";