$theme100: --app-theme-color-100;
$theme200: --app-theme-color-200;
$theme300: --app-theme-color-300;
$theme400: --app-theme-color-400;
$theme500: --app-theme-color-500;
$theme600: --app-theme-color-600;
$theme700: --app-theme-color-700;
$theme800: --app-theme-color-800;
$theme900: --app-theme-color-900;
$theme100rgb: --app-theme-color-100-rgb;
$theme200rgb: --app-theme-color-200-rgb;
$theme300rgb: --app-theme-color-300-rgb;
$theme400rgb: --app-theme-color-400-rgb;
$theme500rgb: --app-theme-color-500-rgb;
$theme600rgb: --app-theme-color-600-rgb;
$theme700rgb: --app-theme-color-700-rgb;
$theme800rgb: --app-theme-color-800-rgb;
$theme900rgb: --app-theme-color-900-rgb;

$themeListHoverBg: --app-theme-list-hover-bg;
$themeListSelectedBg: --app-theme-list-selected-bg;
$themeListRightClickBg: --app-theme-list-right-click-bg;
$themeButtonTextColor: --app-theme-button-text-color;
$actionColor: --app-action-color;

// Class Names
$blueTheme: ".zmThmBlue";
$greenTheme: ".zmThmGreen";
$greyTheme: ".zmThmGrey";
$maroonTheme: ".zmThmMaroon";
$vintageTheme: ".zmThmVintage";
$yellowTheme: ".zmThmYellow";