@import 'global/mixins';
@import 'global/variables';

$passwordclassname: ".zmrpassword";

#{$passwordclassname}{
    &-form {
        padding-block-start: $space8;
    }
    &-field {
        padding-block-end: $space24;
        .error {
            color: $appTextColorCritical !important;
            display: block;
            font-size: 0.75rem;
            padding: 0.3125rem 0;
            text-align: end;
        }
    }
    &-tooltip{
        #{$passwordclassname}{
            &-title{
                color: $appTextColor;
                font-weight: $fontBold;
            }
            &-tick {
                background: $appGreyBG;
                block-size: 20px;
                border-radius: $radiusRounded;
                inline-size: 20px;
                margin-inline-end: $space8;
                text-align: center;
                i{
                    color: #bfbfbf;
                    font-size: $fontSize8;
                    font-weight: $fontBold;
                    line-height: rem(20px);
                }
            }
        }
        ul{
            li{
                align-items: center;
                color: $appTextColorLight;
                display: flex;
                margin: $space8 0;
                transition: 0.3s all ease;
                &.checked{
                    color: $appSuccessColor;
                    #{$passwordclassname}-tick{
                        background: $appSuccessColor;
                        i{
                            color: $appWhiteColor;
                            font-size: $fontSize8;
                        }
                    }
                }
            }
        }
    }
    &-notewrap{
        margin-block-start: $space4;
        margin: 0;
        #{$passwordclassname}-notecont {
            background-color: $appYNoteBG;
            border-radius: $radius4;
            border: 1px solid $appYNoteBorder;
            display: inline-block;
            padding: $space12 $space16;
        }
    }
}
.zmrfilter-popper {
    z-index: 100000 !important;
    ul {
        max-block-size: 500px;
    }
}
.zmr-popupHead {
    align-items: center;
    border-block-end: 1px solid $appBorderLightColor;
    display: flex;
    font-size: $fontSize16;
    font-weight: $fontBold;
    line-height: 1;
    padding-block-end: $space4;
    inline-size: 100%;
    &.zmr-report-chart {
        padding-block-end: $space12;
    }
    i{
        font-size: rem(22px);
        margin-inline-end: $space8;
        vertical-align: middle;
    }
    .zmr-popupHead-warning {
        color: $appTextColorCritical;
    }
    .zmr-popupHead-appText {
        color: $appThemeColor500;
    }
}
.pwd-checkBox {
    display: grid;
    > label {
        margin-block-end: $space12;
    }
}
.zmrpassword-form, .zmrpassword-tooltip{
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }
}
.fieldsSelection {
	position: relative;
	max-block-size: rem(230px);
	margin: $space8 0 $space16;
	padding: 0 rem(32px);
	overflow-y : auto;
	--zminput-group-row-item-padding-y-end: 20px;
	.allKey {
		padding-block-end: $space16;
	}
}
.zmrpopup-contnet {
    > span{
        color: $appTextColorTitle;
        font-size: $fontSize16;
        font-weight: $fontBold;
        line-height: 1.3;
        word-break: break-word;
    }
    p{
        padding-block-start: $space4;
        word-break: break-word;
    }
}
.defaultSelection{
    padding-block-end: $space8;
}

.zmrdialog-header{
    margin-bottom: 0px !important;
}