@mixin flex($params: null) {
	$flex: null;
	$justify-content: null;
	$align-items: null;

	@each $value in $params {
		@if $value == "flex" {
			display: flex;   
		}
		@else if $value == "inline-flex" {
			display: inline-flex;
		}
		
		@if $value=="wrap" {
			flex-wrap: $value;
		}

		@else if $value=="column" {
			flex-direction: $value;
		}
		
		@else if $value=="row" {
			flex-direction: $value;
		}

		@else if index(space-between space-around, $value) {
			$justify-content: $value;
		}

		@else if index(baseline stretch, $value) {
			$align-items: $value;
		}

		@else if index(flex-start center flex-end, $value) {
			@if $justify-content {
				$align-items: $value;
			}

			@else {
				$justify-content: $value;

				@if not $align-items {
					$align-items: $value;
				}
			}
		}
	}

	justify-content: $justify-content;
	align-items: $align-items;
}